Host cedi
    HostName cedi.it.helsinki.fi

Host piiras
    HostName 192.168.1.200
    User osmc

Host *
    IdentityFile ~/.ssh/github_rsa
    IdentityFile ~/.ssh/piiras_mcbbro_rsa
    UseKeychain yes
    AddKeysToAgent yes
