Host *
  IgnoreUnknown AddKeysToAgent,UseKeyChain
  AddKeysToAgent yes
  UseKeyChain yes
  IdentityFile ~/.ssh/id_ed25519

Host piiras
  HostName 192.168.1.37
  User pi
  ForwardX11 yes
  ForwardX11Trusted yes

Host gitlab.com
  Preferredauthentications publickey
  IdentityFile ~/.ssh/id_ed2

Host gitlab.siilicloud.com
  Preferredauthentications publickey
  IdentityFile ~/.ssh/id_ed25519
